@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@font-face {
    font-family: font-iran-bold;
    src: url(./font/iran-Bold.ttf);
}

@font-face {
    font-family: font-iran-light;
    src: url(./font/iran-Light.ttf);
}

@theme {
    --font-iran: font-iran-bold , "sans-serif";
    --font-iran-light: font-iran-light , "sans-serif";

}
